/* Colour Styling */

:root {
    --primary-color: #FFC6AC; /* Your primary colour */
    --secondary-color: #BBDBB4; /* Your secondary colour */
    --text-color: #FFFFFF; /* Text colour */
    --background-color: #E56399; /* Background colour */
    --hover-text-color: #212227; /* Hover Text colour */ 
}
  
.hover-me {
    color: var(--default-text-color); /* Use the default color variable */
    transition: color 0.3s; /* Add a smooth transition for a gradual color change */
}

.hover-me:hover {
    color: var(--hover-text-color); /* Use the hover color variable on hover */
}

.body {
    background-color: var(--background-color); /* Sets the background colour */
}

header {
    background-color: var(--background-color); /* Use the background color variable for the header */
}

footer {
    background-color: var(--background-color); /* Use the background color variable for the footer */
}