/* Colour Styling */

:root {
    --primary-color: #212227; /* Your primary colour */
    --secondary-color: #BBDBB4; /* Your secondary colour */
    --text-color: #FFFFFF; /* Text colour */
    --hover-text-color: #FFC6AC; /* Hover Text colour */ 
    --background-color: #E56399; /* Background colour */
    
}
  
.body {
    background-color: var(--background-color); /* Sets the background colour */
}

.footer {
    background-color: var(--background-color); 
    color: var(--text-color); /* Sets the text colour */
}

.header {
    background-color: var(--background-color); 
    color: var(--text-color); /* Sets the text colour */
}

.hover-me {
    color: var(--default-text-color); /* Use the default color variable */
    transition: color 0.3s; /* Add a smooth transition for a gradual color change */
}

.hover-me:hover {
    color: var(--hover-text-color); /* Use the hover color variable on hover */
}

.container {
    color: var(--text-color); /* Sets the text colour */
}

/* Icons */

i.fab.fa-instagram {
    color: var(--text-color); /* Change this to your desired color */
  }
  
  i.fab.fa-linkedin-in {
    color: var(--text-color);
  }

  i.fa-regular-fa-envelope {
    color: var(--text-color);
  }
  
