/* Colour Styling */

:root {
    --primary-color: #212227; /* Your primary colour */
    --secondary-color: #BBDBB4; /* Your secondary colour */
    --text-color: #FFFFFF; /* Text colour */
    --hover-text-color: #FFC6AC; /* Hover Text colour */ 
    --background-color: #E56399; /* Background colour */
    
}
  
.body {
    background-color: var(--background-color); /* Sets the background colour */
}

.footer {
    background-color: var(--background-color); 
    color: var(--text-color); /* Sets the text colour */
}

.header {
    background-color: var(--background-color); 
    color: var(--text-color); /* Sets the text colour */
}

.container {
    color: var(--text-color); /* Sets the text colour */
}

/* Icons */


/* Spinner Colour */

.spinner {
    color: var(--text-color);
}

