/* Contact Me Page Styling */

/* Header Styling */

.header {
  text-align: center; /* Horizontal center alignment */
  display: flex;
  justify-content: center; /* Center horizontally in flex container */
  align-items: center; /* Center vertically in flex container */
  height: vh25; /* Full viewport height */
  font-family: 'Bungee Shade', sans-serif;
  padding: 20px;
}

.subheader-small {
  text-align: center; /* Horizontal center alignment */
  font-family: 'Bungee Hairline', sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
  font-size: 12pt;
}

/* Form Styling */
.form-container {
  background-color: rgba(255, 255, 255, 0);
  padding: 5px; /* Add padding inside the container */
  border-radius: 10px; /* Rounded corners */
  max-width: 80%; /* Limit width for better layout */
  margin: auto; /* Center the form horizontally */
}

.text-center {
  padding: 20px;
}

.form-container .text-danger {
  color: white !important;
}

/* Divider Container */
.divider-container {
  width: 100vw; /* Full width of the viewport */
  background-color: #E56399;
  padding: 10px 0; /* Add padding to create space around the white divider */
  text-align: center;
}

/* Divider Styling */
.divider {
  border: none;
  height: 2px; /* Adjust thickness */
  background-color: white; /* Keep the divider white */
  width: 80%; /* Adjust width */
  margin: 0 auto; /* Center horizontally */
}

/* Icon Container */

.icon-container-centered {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the icon horizontally */
  width: 60px; /* Set the size of the icon */
  height: 60px;
  margin: 20px auto; /* Center horizontally and add space between icon and label */
}
    