/* Footer Styling */

.footer {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: none; /* Remove the border */
}

/* Style for the footer links */
.footer a {
    text-decoration: none; /* Remove underlines from the links */
    margin: 0 10px; /* Add some horizontal spacing between the links */
}
