/* Landing Page Styling */

/* Logo Styling */

.logo {
  max-width: 200px; /* Set the maximum width for the logo */
  display: block;
  margin: 0 auto; /* Center-align the logo horizontally */
}

/* Header Styling */

.header {
  text-align: center; /* Horizontal center alignment */
  display: flex;
  justify-content: center; /* Center horizontally in flex container */
  align-items: center; /* Center vertically in flex container */
  height: 25vh; /* Full viewport height */
  font-family: 'Bungee Shade', sans-serif;
}

/* Grid Styling */

.container {
    text-align: center;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .col {
    padding: 10px;
    font-family: 'Bungee Hairline', sans-serif;
  }
  