/* Landing Page Styling */

/* Header Styling */

.header {
  text-align: center; /* Horizontal center alignment */
  display: flex;
  justify-content: center; /* Center horizontally in flex container */
  align-items: center; /* Center vertically in flex container */
  height: vh25; /* Full viewport height */
  font-family: 'Bungee Shade', sans-serif;
  padding: 50px;
}

/* Grid Styling */

.container {
  text-align: center;
  padding: 20px;
}

.row {
  display: flex; /* Make the row a flex container */
  justify-content: center; /* Center the columns horizontally */
  align-items: center;
  font-family: 'Bungee Hairline', sans-serif;
  padding: 20px;
}

.nav-row {
  display: flex; /* Make the row a flex container */
  justify-content: center; /* Center the columns horizontally */
  align-items: center;
  font-family: 'Bungee Hairline', sans-serif;
  padding: 20px;
}

.col {
  padding: 10px;
  font-family: 'Bungee Hairline', sans-serif;
  text-align: center;
  flex: 1;
  max-width: 150px;
}

/* Photo Styling */

.home-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content (like image and text) horizontally */
  justify-content: center; /* Centers the content vertically if needed */
  padding: 20px;
  margin-bottom: 50px;
}

.rounded-image-large {
  width: 50%; /* Makes the image responsive */
  max-width: 100px; /* Optional: Sets the maximum width for the image */
  max-height: 600px;
  height: auto;
  border-radius: 300px; /* Adjust this value to make the edges more or less rounded */
  object-fit: cover; /* Ensures the image maintains its aspect ratio and covers the container */
  margin-top: 20px; /* Moves the image down */
}