/* Landing Page Styling */

/* Header Styling */

.header {
  text-align: center; /* Horizontal center alignment */
  display: flex;
  justify-content: center; /* Center horizontally in flex container */
  align-items: center; /* Center vertically in flex container */
  height: 25vh; /* Full viewport height */
  font-family: 'Bungee Shade', sans-serif;
}

/* Grid Styling */

.container {
  text-align: center;
}

.row {
  display: flex; /* Make the row a flex container */
  justify-content: center; /* Center the columns horizontally */
  font-family: 'Bungee Hairline', sans-serif;
  padding: 10px;
}

.col {
  padding: 10px;
  font-family: 'Bungee Hairline', sans-serif;
  text-align: center;
  flex: 1;
  max-width: 150px;
}