/* Portfolio Page Styling */

/* Header Styling */
.header {
  text-align: center; /* Horizontal center alignment */
  display: flex;
  justify-content: center; /* Center horizontally in flex container */
  align-items: center; /* Center vertically in flex container */
  height: vh25; /* Full viewport height */
  font-family: 'Bungee Shade', sans-serif;
  padding: 20px;
  letter-spacing: 2px; /* Increase letter spacing */
}

.subheader-small {
  text-align: center; /* Horizontal center alignment */
  font-family: 'Bungee Hairline', sans-serif;
  display: flex;
  flex-direction: column;
  color: white; /* Ensure text color is white */
  background-color: #E56399;
  padding: 10px;
  font-size: 12pt;
}

.row {
  display: flex;
  font-family: 'Bungee Hairline', sans-serif;
  padding: 0px;
  margin-right: 10px;
  margin: 0px;
}

/* Divider Container */
.divider-container {
  width: 100vw; /* Full width of the viewport */
  background-color: #E56399;
  padding: 10px 0; /* Add padding to create space around the white divider */
  text-align: center;
}

/* Divider Styling */
.divider {
  border: none;
  height: 2px; /* Adjust thickness */
  background-color: white; /* Keep the divider white */
  width: 80%; /* Adjust width */
  margin: 0 auto; /* Center horizontally */
}

/* Grid Styling */
.container.text-center {
  text-align: center;
}

.col {
  padding: 10px;
  font-family: 'Bungee Hairline', sans-serif;
}

.col.text-center {
  text-align: center;
  font-family: 'Bungee Hairline', sans-serif;
}

.grid-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #E56399;
  padding: 30px;
}

.thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.thumbnail.active {
  border-color: #007bff;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Carousel Styling */

.imageCarousel {
  position: fixed;
  z-index: 1000;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-inner {
  display: flex;
  align-items: center;
}

.carousel-inner img {
  max-height: 80vh;
  margin: auto;
}

/* Modal Styling */

/* Center the modal vertically */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050; /* Ensure the modal is on top of other content */
  background-color: rgba(0, 0, 0, 0.8); /* Optional, to dim the background */
  position: relative; /* Ensure positioning context for the controls */
}

/* Optional: Add overlay to make the modal stand out */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* Adjust the transparency as needed */
  z-index: 1040; /* Ensure the backdrop is behind the modal */
}

.modal-dialog{
  align-items: center;
  justify-content: center;
}

.modal-body {
  background-color: white; /* Adjusted transparency */
}

.modal-header {
  background-color: white; /* Adjusted transparency */
  padding: 20px;
}

.modalLabel {
  background-color: rgba(0, 0, 0, 0.8);
  color: transparent;
}

.modal-title {
  color: transparent;
}

/* Close button styling */
.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.5rem; /* Make the button smaller */
  background-color: transparent;
  color: white; /* Set the button text (x) to white */
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1052; /* Ensure the close button is above other content */
}

/* Carousel control buttons */
.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  bottom: 50%;
  width: auto;
  padding: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: white; /* Ensure the controls are visible */
  z-index: 1051; /* Ensure the controls are above the carousel content */
}

#imageModal .modal-header {
  border: none;
  color: white; /* Ensure header text is white */
  padding: 0;
  margin: 0;
}