/* Resume Styling */

/* Header Styling */

.header {
  text-align: center; /* Horizontal center alignment */
  display: flex;
  justify-content: center; /* Center horizontally in flex container */
  align-items: center; /* Center vertically in flex container */
  height: vh25; /* Full viewport height */
  font-family: 'Bungee Shade', sans-serif;
  padding: 20px;
  letter-spacing: 2px; /* Increase letter spacing */
}

.subheader {
  text-align: center; /* Horizontal center alignment */
  font-family: 'Bungee', sans-serif;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center; /* Center text along x-axis */
}

.subheader-small {
  text-align: center; /* Horizontal center alignment */
  font-family: 'Bungee Hairline', sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
  font-size: 12pt;
}

/* Grid Styling */

.container.text-center {
  text-align: left;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
  align-items: flex-start; /* Align items to the top */
}
  
.row {
  display: flex;
  font-family: 'Bungee Hairline', sans-serif;
  padding: 0px;
  margin-right: 10px;
  margin: 0px;
}

.section-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Set the width to 100% */
  padding: 5px;
}

.col {
  font-family: 'Bungee Hairline', sans-serif;
}

/* Divider Styling */
.divider {
  border: none;
  height: 2px; /* Adjust thickness */
  background-color: white; /* Keep the divider white */
  width: 100%; /* Adjust width */
  margin: 5px 0; /* Add consistent vertical spacing */
}

/* Divider Container */
.divider-container {
  width: 50vw; /* Half width of the viewport */
  background-color: #E56399;
  padding: 30px 0; /* Add padding to create space around the white divider */
  text-align: center;
}

/* Paragraph Styling */

.styled-paragraph {
  display: flex;
  font-size: 12pt; /* Slightly larger font size for better readability */
  font-family: 'Bungee Hairline', sans-serif;
  font-weight: 600;
  max-width: 600px; /* Limits the width for better layout control */
  justify-content: space-between; /* Ensures text is spaced evenly when flexed */
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Skills Styling */

.skill {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-box-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Set the width to 100% */
}

.circle-label {
  display: flex;
  justify-content: space-between; /* Justifies the text for better readability */
  font-size: 1.1rem; /* Slightly larger font size for better readability */
  font-family: 'Bungee Hairline', sans-serif;
  font-size: medium;
  font-weight: 600;
  max-width: 800px; /* Limits the width for better layout control */
  margin-top: 10px;
  margin-bottom: 10px;
}

.circle-container {
  display: flex;
  justify-content: center;
}

.circle-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px; /* Set a fixed width to keep circles aligned */
  height: 40px; /* Bounding box height */
  text-align: center;
}

.circle-box i {
  font-size: 1.5rem;
  margin: 0 5px;
}

/* Certifications Styling */
.certification-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12pt;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 600px;
  font-weight: 600;
  font-family: 'Bungee Hairline', sans-serif;
}






