/* Resume Styling */

/* Header Styling */

.header {
  text-align: center; /* Horizontal center alignment */
  display: flex;
  justify-content: center; /* Center horizontally in flex container */
  align-items: center; /* Center vertically in flex container */
  height: vh25; /* Full viewport height */
  font-family: 'Bungee Shade', sans-serif;
  padding: 20px;
  letter-spacing: 2px; /* Increase letter spacing */
}

.subheader {
  text-align: center; /* Horizontal center alignment */
  font-family: 'Bungee', sans-serif;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
}

.subheader-small {
  text-align: center; /* Horizontal center alignment */
  font-family: 'Bungee Hairline', sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
  font-size: 12pt;
}

/* Grid Styling */

.container.text-center {
  text-align: left;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
  align-items: flex-start; /* Align items to the top */
}
  
.row {
  display: flex;
  font-family: 'Bungee Hairline', sans-serif;
  padding: 0px;
  margin-right: 10px;
  margin: 0px;
}

.section-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  width: 100%; /* Set the width to 100% */
}

.col {
  font-family: 'Bungee Hairline', sans-serif;
}

.ul {
  display: flex;
  list-style: none;
  padding-bottom: 10px;
  justify-content: center;
  text-align: center;
}

li {
  display: flex; /* Each list item on a new line */
  margin-bottom: 10px; /* Adjust the margin between items as needed */
  text-align: center;
  font-size: larger;
  font-weight: 600;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  font-family: 'Bungee Hairline', sans-serif;
}

/* Divider Styling */
.divider {
  border: none; 
  height: 1px; /* Adjust thickness */
  background-color: #ccc; /* Line color */
  width: 100%; /* Adjust width */
  margin: 20px auto; /* Center horizontally */
}

/* Skills Styling */

.skill {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-box-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Set the width to 100% */
}

.circle-label {
  display: flex;
  justify-content: space-between; /* Justifies the text for better readability */
  padding: 20px; /* Adds padding around the text */
  font-size: 1.1rem; /* Slightly larger font size for better readability */
  font-family: 'Bungee Hairline', sans-serif;
  font-size: larger;
  font-weight: 600;
  max-width: 800px; /* Limits the width for better layout control */
  padding: 20px;
}

.circle-container {
  display: flex;
  justify-content: center;
}

.circle-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px; /* Set a fixed width to keep circles aligned */
  height: 40px; /* Bounding box height */
  text-align: center;
}

.circle-box i {
  font-size: 1.5rem;
  margin: 0 5px;
}

/* Certifications Styling */
.certification-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 600;
}





